<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Greetings</title>
</head>
<body>
    <h1>Print slice of structs</h1>
    <ul>
        {{range .}}
        <li>{{.Name}} plays {{.Genre}}</li>
        {{end}}
    </ul>
</body>
</html>
