<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>pass func to text/template</title>
</head>
<body>

<h1>Time from GO - pipeline method</h1>
<h2>{{`{{. | fDateDMY}}`}} :: {{. | fDateDMY}}</h2>

</body>
</html>
