<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Greetings</title>
</head>
<body>
    
    <h1> The bands are:</h1>
    <ul>
        {{range $k, $v := .}}
        <li>{{$k}} from {{$v}}</li>
        {{end}}
    </ul>
</body>
</html>
