<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>pass func to text/template</title>
</head>
<body>

<h1>Time from GO</h1>
<h2>Without format :: {{.}}</h2>
<h2>With formay dd mm yyyy :: {{fDateDMY .}}</h2>

</body>
</html>
