<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    {{.Name}}<br>
    {{.Age}}

    {{if .LicenseToKill}}
    Kill Kenny
    {{else}}
    Chill on wheelchair
    {{end}}
</body>
</html>
