<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index html</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
{{template "svgs"}}
{{template "header"}}

<div id="atf">
    <main>
        <svg class="icon icon-big-in">
            <use xlink:href="#inbox"></use>
        </svg>
        <h1>are you in ?</h1>
    </main>
</div>
{{template "btf"}}
</body>
</html>